@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$primary: #5385b6;
$bg: #4169e1;
$hover: #5452cf;
$secondary: #4169e1;

@import "~bootstrap/scss/bootstrap";
