@import "../variables.scss";

.venueImageContainer {
  border-radius: 10px;
}

.venueImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.venueTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.table {
  padding: 5px 5px 5px;
  border-radius: 5px;
  border-color: black;
  background-color: $primary;
}

.tableIcon {
  color: $bg;
}

.stars {
  color: $secondary;
}

.venuebtn {
  font-size: 1rem;
  text-decoration: none;
  background-color: $primary;
  color: white;
  border-radius: 10px;
  border: solid;
  padding: 10px 15px;
  font-weight: bold;

  &:hover {
    background-color: $hover;
    transition: background-color 0.3s ease;
  }
}

.loginPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 10;
}

.loginPopup p {
  margin-bottom: 10px;
  text-align: center;
}

.loginBtn {
  text-decoration: none;
  background-color: $primary;
  color: white;
  border: solid;
  padding: 8px;
  width: 50%;
  border-radius: 10px;

  &:hover {
    background-color: $bg;
    transition: background-color 0.3s ease;
  }
}

.cancelBtn {
  text-decoration: none;
  background-color: $red;
  color: white;
  border: solid;
  padding: 8px;
  width: 50%;
  border-radius: 10px;

  &:hover {
    background-color: $hover;
    transition: background-color 0.3s ease;
  }
}
